
*{
    margin: 0;
}


.settingsWrapper{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.settingscontainer{
    display: flex;
    flex-direction: column; 
    flex: 1;
    
}


#userDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    
   
}

#userDetails button{
    margin-left: 1rem;
    padding: 0.2rem 0.2rem;
    background: #f624b0; 
    font-size: 1.0rem;
    white-space: nowrap;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    
   
}

#userDetails input, #userDetails label,#changePassword input, #changePassword label{
    font-size: 1.0rem;
    padding-left: 1.0rem;

}

#changePassword{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#changePassword button{
    margin-left: 1rem;
    padding: 0.2rem 0.2rem;
    background: #080bd1; 
    font-size: 1.0rem;
    white-space: nowrap;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    padding-bottom: 5px;
    white-space: nowrap;
}

.section{
    flex: 1;
}


.label {
    display: block;
    font-size: 1.6rem;
    margin: 0.6rem 0.1rem;
}

.input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #f5f5f5;
}


.deleteButton{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
}

#deletebtn{
    font-size: 2.03rem;
    background: rgb(248, 9, 9);
    padding: 1.5rem 1.5rem;
    }

    #deletebtn:hover{
        transform: scale(1.1);
        
    }

.button:hover {
    background: #dc0606;
}




@media (max-width: 1024px) {
    .settingscontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 70%;
    }
    .section{
        flex-direction: column;
    }
   
}
    
    

    @media (max-width: 825px) {
        .settingscontainer {
            width: auto;
           
        }
        .section{
            flex-direction: column;
        }
 }



    @media (min-width: 1025px) {
        .settingscontainer{
          display: grid;
          width: 70%;
          grid-template-columns: repeat(1,1fr);
          
        }  
         
      }