
*{
    margin: 0;
}

body {
    font-family: sans-serif;
    background: radial-gradient(circle,rgb(216, 112, 216),rgb(179, 38, 179))
  }

  header {
    background: radial-gradient(circle, rgb(60, 58, 58), rgb(90, 88, 88)) !important;
    width: 100%;
    height: 5rem;
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    border-bottom: 2px solid;
  }
  
  .home {
    font-size: 2rem; /* Increase font size */
    color: rgb(180, 40, 180);
    font-weight: bold;
    border: 100px;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.6), -2px -2px 4px rgba(19, 18, 18, 0.6);
  }


  a{

    color: rgb(27, 25, 25);
  }

  .login{
    border-style: solid;
    border-radius: 1rem;
    display: flex;
    background: radial-gradient(circle, rgb(60, 58, 58), rgb(90, 88, 88)) !important;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: fit-content;
    padding-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
}


  .login label{
    font-size: 1.4rem;
    margin: 0.6rem;
    color: rgb(180, 40, 180);
  }

  .login h1{
    font-size: 2.5rem;
    color: rgb(180, 40, 180);
  }

  .login input{
    padding: 0.5rem;
    font-size: 1rem;
  }

  .submit{
   padding: 1.1rem;
   font-size: 1.5rem;
   margin: 1.5rem;    
}

  form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   
  }


  .rparagraph{
    margin-top: 0.4rem;
    margin-left: -1.6rem;
    color: rgb(180, 40, 180);
  }


