.adminPageBody {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

.manageBox {
    background-color: rgba(60, 58, 58, 0.588);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 80rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
    border: solid 2px rgba(255, 255, 255, 0.9);
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.6), -2px -2px 4px rgba(19, 18, 18, 0.6);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;

}